html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

header {
  position: relative;
  color: white;
}

.inner-header {
  margin: auto;
  position: relative;
  text-align: center;
  height: 400px;
}

.inner-header::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-image: url('./jardin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
  transform: rotate(180deg);
  height: 400px;
  z-index: -1;
}

.inner-header h1 {
  padding-top: 6.5em;
  font-family: 'Handlee', cursive;
  margin-bottom: 0;
  margin-top: 0;
}

.inner-header h2 {
  font-family: 'Parisienne', cursive;
}

.inner-header .date {
  font-family: 'Handlee', cursive;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

main {
  width: 100%;
  margin: auto;
}

.fecha {
  background-color: #EEE;
  padding-bottom: 2em;
}

h2 {
  margin: 0;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.photos li {
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.photos li .polaroid {
  background-color: white;
  padding: 1em;
  padding-top: 1.5em;
  border: 1px solid black;
  box-shadow: -3px 3px 10px black;
  position: relative;
}
.photos li .polaroid > img {
  border: 1px solid black;
  width: 100%;
}
.photos li .photo-text {
  margin-left: 1em;
}
@media only screen and (max-width: 600px) {
  .photos li .photo-text {
    font-size: 0.8em;
  }
}
.photos li .polaroid .pin {
  position: absolute;
  width: 3em;
  height: 2em;
  z-index: 1;
  top: -0.5em;
  left: calc(50% - 1em);
}
.photos li .polaroid .pin > img {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .photos li .polaroid .pin > img {
    width: 77%;
  }
}

.confirmar {
  position: relative;
  height: 360px;
  text-align: center;
}
.confirmar::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url('./cuba.jpg');
  background-position: 69% center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
.confirmar button {
  background-color: green;
  border-radius: 6px;
  color: white;
  padding: 0.5em 1em;
}

.regalo .strike {
  text-decoration: line-through;
}
.regalo .transfer-options > div{
  transition: display 2s ease-in;
}

.regalo .datos-options {
  margin-top: 1em;
  text-align: center;
  height: 3em;
}
.regalo .datos-options input[type="radio"] {
  display: none;
}
.regalo .datos-options label {
  border: 1px solid black;
  background-color: lightgray;
  padding: 0.8em;
  font-size: 1.25em;
}
.regalo .datos-options input[type="radio"]:checked+label {
  background-color: white;
  transition: all ease 0.3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.regalo #transferencia h3 {
  text-align: center;
}
.regalo #transferencia .row {
  display: flex;
  width: 100%;
  animation: fadein 2s;
}
.regalo #transferencia .row div {
  width: 50%;
  padding: 0.5em;
}
.regalo #transferencia .row div:nth-child(1) {
  text-align: right;
}
.regalo #transferencia .row div:nth-child(2) {
  text-align: left;
}

.regalo #bitcoin {
  text-align: center;
  animation: fadein 2s;
}
.regalo #bitcoin img {
  margin-top: 1em;
}

footer {
  margin: 1em;
}