* {
  --primary-color: black;
  --bg-color: rgb(220, 220, 220);
  --bg-color-light: rgb(240, 240, 240);
  --link-color-light: rgb(143, 32, 32);
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'EB Garamond', serif;
}

body, ul, li, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  display: flex;
  flex-flow: row wrap;
}

li {
  list-style: none;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

ul > li {
  line-height: 1.3rem;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

h2 a, h2 a:visited {
  color: var(--primary-color);
}
h2 a:hover {
  color: var(--link-color);
}

body {
  --link-color: var(--link-color-light);
  color: var(--primary-color);
  background: var(--bg-color);
  font-size: 16px;
  font-family: var(--primary-font);
  max-width: 800px;
  margin: 0 auto;
}

a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

header {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  background: var(--bg-color-light);
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
}
header > div {
  flex: 1 1 auto;
}
header div:first-child {
  text-align: center;
}
header img {
  height: 9rem;
  border: 10px solid var(--bg-color);
  border-radius: 50%;
}

article, section {
  padding: 1rem;
}

#main-data {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

.nice-tech {
  font-size: 1.3rem;
}

#reach-me ul {
  display: block;
}

#reach-me ul img {
  height: 1rem;
}
.github img {
  background: black;
  clip-path: circle(43%);
}

#job-history img {
  max-height: 3rem;
}

#quotes {
  position: relative;
}
#quotes ul {
  display: block;
  font-style: italic;
}
#quotes ul li::before {
  content: open-quote;
}
#quotes ul li::after {
  content: close-quote;
}
#quote-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  opacity: 0.7;
}